<app-patientnav></app-patientnav>
<section class="hero-wrap js-fullheight" data-section="home" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 pt-5"> 
           <div class="mt-5">
              <form action="">
                  <!-- Doctor:<h6>{{data.doctor}}</h6> -->
                  <table class="table"> 
                  <tr><th></th> <th>Date</th><th>Time</th><th>Book</th></tr>
                    <tr *ngFor="let data of myData">
                    
                 <td><input type="hidden" name="patient" value=user></td>  <td>{{data.date}}</td><td>{{data.time}}</td><td><button type="submit" (click)="BookingFunc(data)">Book</button></td>                
                    </tr>
                  </table>
                </form>
          </div>     
         </div>
      </div>  
    </div>
  </section> 
  
